*{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav{
    height: 85px;
    width: 100%;
    
}
label.logo{
    font-size: 50px;
    line-height: 30px;
    margin: 15px;
    padding: 10px;
    font-weight: 700;
    
}
.header{
    display: flex;
    justify-content: space-between;
    
}

#one{
    
    text-align: center; 
}
#one ul li{
    font-size: 25px;
    display: inline-block;
    line-height: 60px;
    
    padding: 20px;
    
}
#two ul li{
    
    font-size: 25px;
    display: inline-block;
    line-height: 60px;
    
    padding: 10px;
    padding-right: 50px;
}
.get {
    font-size: 25px;
    background-color: rgb(255, 136, 0);
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}
.main {
    display: flex;
    margin: 10px;
    padding: 30px;
    
}
.text {
    font-size: 40px;
    width: 50vw;
    height: 300px;
    
}
#button {
    display: flex;

    padding: 0;
    margin: 0;
    
}
#buy {
    margin: 30px;
    padding-right: 80px;
    
}
#rent{
    margin: 30px;
}
img{
    width: 300;
    height: 250px;
     
}

#buy button{
    background-color: rgb(255, 136, 0);
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}
#rent button{
    color: rgb(255, 136, 0);
    border: 5px solid rgb(255, 136, 0);
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}   
.container {
    margin: 30x;
    padding: 20px;
    
   

}
.Rated {
    display: flex;

}
.gallary{
    width: 200px;
    height: 100px;
}
#benz {
    background-image: url(./logo/mercedes-benz_LOGO.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#Audi {
    background-image: url(./logo/Audi-logo.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#honda {
    background-image: url(./logo/honda-logo.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#toyota {
    background-image: url(./logo/logo-toyota.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#mazda {
    background-image: url(./logo/mazda-logo.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#get {
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(255, 136, 0);
}
.get {
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    border: 2px solid rgb(255, 136, 0);;
}


#Explore{
    font-size: 35px;
    text-align: center;
    width: 100px;
    border-radius: 10px;

}
span{
    color: rgb(255, 136, 0);
    font-size: 40px;
}

.cars {
    margin: 15px;
    padding: 15px;
    display: flex;
    border: none;

}
.brand-type{
    border: 2px solid whitesmoke; 
    padding: 5px;
    margin: 20px;
    width: 25vw;
    border-radius: 5px;
    box-shadow: 5px 5px whitesmoke;
    
}
img{
    width: 25vw; 
    padding: 1px;
    margin: 1px;

}
.car-two {
    margin: 15px;
    padding: 15px;
    display: flex;
    border: none;


}
.brand-type-two {
    border: none; 
    padding: 5px;
    margin: 20px;
    width: 25vw;
    border-radius: 5px;
    box-shadow: 5px 5px whitesmoke;
    
}
.parent {
    display: flex; 
    margin: 5px;
    padding: 8px;
}
#container {
    
    width: 90vw;
    background-color: white;
    display: flex; 
    -ms-flex-align: center;

}
.comment {
    text-align: center;
}

.feedback {
    text-align: center;
    border:none;
    width: 500px;
    padding: 10px;
    margin: 30px;
}
.download {
    display: flex;
    flex-direction: column;
}

.logo-store {
    width: 200px;
    height: 80px;
    background-color:blue;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
#app{
    background-image: url(./Mobiles-store/App-store.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;
}
#Google {
    background-image: url(./Mobiles-store/Google-play-store.png);
    background-size: contain;
    background-repeat: no-repeat; 
    background-color: white;
    border-radius: 5px;
    border: none;

}
.footer {
    display: flex;
    justify-content: space-between;
    
}
ul li {
    list-style-type: circle;
    margin-left: 10px;
}
#stores {
    display: flex;
    justify-content: space-between;


}
#container {
    display: flex;
    /* border: 2px solid bisque; */
}

.download { 
    display: flex;
    margin-left: 300px;
    /* border: 2px solid bisque; */
}
#download {
    margin-right: 300px;
    
}
#download>img {
    height: 400px;
    width: 200px;
}

.footer {
    display: flex;
    -ms-flex-align: center;
    padding: 20px;
    margin: 20px;

}.form {
    font-size: 20;
    border: 2px solid rgb(255, 136, 0);;
}
input {
     font-size: medium; 
}
#submit {
    background-color: rgb(255, 136, 0);
    color: black;
}
    

