*{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
nav{
    height: 85px;
    width: 100%;
    /* background-color: aquamarine; */
}
label.logo{
    font-size: 50px;
    line-height: 30px;
    margin: 15px;
    padding: 10px;
    font-weight: 700;
    
}
.header{
    display: flex;
    justify-content: space-between;
    /* background-color: gray; */
}

#one{
    /* float: right; */
    text-align: center; 
}
#one ul li{
    font-size: 25px;
    display: inline-block;
    line-height: 60px;
    /* text-justify:  */
    padding: 20px;
    
}
#two ul li{
    
    font-size: 25px;
    display: inline-block;
    line-height: 60px;
    /* text-justify: inter-word; */
    padding: 10px;
}
div